$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 576px;
$value_two: 767px;
$value_three: 768px;
$value_four: 991px;
$value_five: 992px;
$value_six: 1199px;
$value_seven: 1200px;
$value_eight: 1300px;
$value_nine: 1550px;



/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {
html,body{
    font-size: 12px;
}
    .zoom-text{
    font-size: 20px;
    }
h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
    h4{
        font-size: 13px;
    }
}


    a{
    font-size: 0.9rem;
    }

    .heading{
        font-size: 1.5rem;
      }
      .banner{
          height: 28rem;
      }
      .tag{
          font-size:8px;
          margin-inline-start: 10px;
      }
      .footer-flex{
          font-size: 10px;
    
      }
      .content{
          font-size: 12px;
      }
      .footer-flex{
        display: flex;
        padding: 5px;
        margin: 3px;
        }
        .fa {
            padding: 5px;
            border-radius: 440px;
            font-size: 10px;
            width: 20px;
            text-align: center;
            text-decoration: none;
            margin: 0.2rem;
            }

}
/* Min width 576px to Max width 767px */
@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_two) {

    .heading{
        font-size: 2rem;
      }
      .banner{
        height: 30rem;
    }


}
/* Min width 768px to Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {

    .heading{
        font-size: 3rem;
      }
      .banner{
        height: 30rem;
    }
  .zoom-text{
    font-size: 30px;
    }
}

/* Min width 992px to Max width 1199px */
@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six){
    .heading{
        font-size: 4rem;
      }
      .banner{
        height: 24rem;
    }
    .zoom-text{
    font-size: 30px;
    }
}
/* Min width 1200px to Max width 1300px */
@media only #{$media} and ($feature_min : $value_seven) and ($feature_max : $value_eight) {
    .heading{
        font-size: 4rem;
      }
      .banner{
        height: 30rem;
    }
}
/* Min width 1550px */
@media only #{$media} and ($feature_min : $value_nine){
    .heading{
        font-size: 4rem;
      }
      .banner{
        height: 20rem;
    }
}

/* Min width 1800px */
@media only screen and (min-width: 1800px) {

    
    .heading{
        font-size: 4rem;
      }
      .banner{
        height: 30rem;
    }
}